@{
    ViewData["Title"] = "Home Page";
}


<style>
    body, html {
        height: 100%;
        font-family: Impact, Charcoal, sans-serif;
    }

    body {
        background-image: url("../img/CafeHomePage.jpg");
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .top-buffer {
        margin-top: 125px;
    }
</style>


<div class="text-center mt-5 px-5 text-white">
    <h1 class="display-4"> <span style="vertical-align: -70px;">Cliffside Café </span></h1>
</div>

<div class="text-center top-buffer text-dark bg-light">
    <div class="row">
        <div class="column" style="position:relative; left:140px; top:60px;">
            <p>Welcome to the cliffside cafe,</p>
            <p>we hope you enjoy your stay.</p>
            <p>You can order a variety of food and drinks</p>
            <p>by clicking the image on the right</p>
        </div>
        <div class="column" style="position:relative; left:300px; top:2px;">
            <a class="nav-link text-light" asp-area="" asp-controller="Menu">
            <img src="../img/HomePageSandwich.jpg" width="260" height="212" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="column" style="position:relative; left:630px; top:20px;">
            <p>Check out and order the</p>
            <p>food and drinks we have on offer!</p>
        </div>
    </div>
</div>


